<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope> <!--<![endif]-->
<head>

  <!-- Meta tags & title /-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Anurag</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="humans.txt">

  <link rel="stylesheet" href="../static/css/bootstrap.css">  
  <link rel="stylesheet" href="../static/css/landing-page.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&v2' rel='stylesheet' type='text/css'>
  
</head>


<body>

<!-- HEADER ############################################### -->

<nav class="navbar nav-hide navbar-default navbar-fixed-top vague" role="navigation" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#home">Home</a>
      <a class="navbar-brand" href="#about">About</a>
      <a class="navbar-brand" href="#books">Books</a>
      <a class="navbar-brand" href="#contact">contact</a>
      <a class="navbar-brand" target="_blank" href="http://blog.anuragkr.in">Blog</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron headr" id="home">
    <div class="headr-tag">
        
        <h1>Anurag</h1>
        <strong><p>Web developer/Writer/entrepreneur</p></strong>
    </div>
</div>

<!-- end nav ############################################### -->

<!--About section ############################################### -->
<section class="about" id="about">
  <div class="row">
    <div class="col-md-12">
        

        <h3>I am Anurag, web developer living in Kolkata, doing what I can to make the web a better place.</h3>

        <p>I have an insatiable interest for online technology and digital publishing . During my early days with the internet I was quite obsessed with the latter. The same obsession taught me how things work in the online world and how can I can be a part of it too. It was around the same time that I picked up blogging. I had this nagging desire to create things in life and writing fulfilled my wishes to some extent. Later on I also worked for few startups as a writer which was a moral booster. You can read my articles on <a href="http://yourstory.com/author/anurag-kumar/" target="_blank">Yourstory</a></p>

        <p>Few of my works(poems and stories) were appreciated and published in magazine but thats a thing of the <a href="http://www.anurag3rdsep.blogspot.in" target="_blank">past</a></p>
       <p>Fast forward to present: words have been replaced by codes. But the desire to create things on internet still exits, which ultimatly drives me forward.</p>

    

       

    </div>
  </div>
</section>


<!--Books section ############################################### -->

<section class="books" id="books">
  <div class="row">
    <div class="col-md-11">
      <h3>Now Reading..</h3>
      <div class="col-md-10 books">

        <div class="col-md-3">
          <img src="/static/images/book1.png" class="book" style="height: 180px; 180px; ";>
        </div>

        <div class="col-md-3">
          <img src="/static/images/iwoz.png" class="book" style="height: 180px; 180px; ";>
        </div>

        <div class="col-md-3">
          <img src="/static/images/prince.png" class="book" style="height: 180px; 180px; ";>
        </div>

      </div>

    </div>
  </div>
</section>


<!--contact section ############################################### -->


<section class="contact" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h3>Find me on</h3>
      <div class="col-md-12 social">
        <div class="col-md-3">
          <a href="http://facebook.com/exploretheweb" target="_blank"><img style="width:50px; height:50px; border-radius: 5px; "; src="/static/images/fb.png"></a>
        </div>

        <div class="col-md-3">
          <a href="http://twitter.com/ak_8085" target="_blank"><img style="width:50px; height:50px; border-radius: 5px; "; src="/static/images/twitter.png"></a>
        </div>

        <div class="col-md-3">
          <a href="http://in.linkedin.com/in/ak8085" target="_blank"><img style="width:50px; height:50px; border-radius: 5px; "; src="/static/images/linkedin.png"></a>
        </div>

        <div class="col-md-3">
          <a href="http://github.com/anurag619" target="_blank"><img style="width:50px; height:50px; border-radius: 5px; "; src="/static/images/github.png"></a>
        </div>

      </div>
      

    </div>
  </div>
</section>


<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/custom.js"></script>

<script>

    $(document).ready(function(){ 

      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
      }
    }
  });

});

</script>

</body>

</html>