<!DOCTYPE html>
<html lang="en">
    <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  		
  		<title>blog</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Bootstrap core CSS -->
        <link  href="{{ url_for('static', filename='bootstrap.css') }}"  rel="stylesheet">

        </head>
    
    <body>

      <!-- Navbar
      ================================================== -->
      
      <div class="container">
  <!-- Static navbar -->
            <div class="navbar " role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >Home</a>
              </div>

              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="http://anurag3rd.wordpress.com/" target="_blank">Blog</a></li>
                  
              
                </ul>
              </div>
          
            <!--/.nav-collapse -->
            </div>

            <div id="sidebar">
                <div class="sidebar-links">
                  <h1>Anurag</h1>
                </div>

                <div class="links"> 
                  <p><a href="http://anurag3rdsep.blogspot.in/search/label/poem." target="_blank">#Poems</a></p>
                  <p><a href="http://fabledrelations.blogspot.in/" target="_blank">#Short_Stories</a><p>
                    
                      <p><a href="https://github.com/anurag619" target="_blank"> #code_samples </a><p>
                        <p><a href="" target="_blank">  </a><p>
                          <p><a href="" target="_blank">  </a><p>
                </div>
              
            </div>

            <div id="content" class="two-third">

              <h3> Hello, there </h3>

              <p>If by any chance I appear complete stranger to you.
                    Stalk through my social presence.
             </p>
                  <p><a href="https://www.facebook.com/exploretheweb" target="_blank"> #Facebook</a><p>
                    <p><a href="http://www.linkedin.com/in/anangkr" target="_blank"> #LinkedIn </a><p>
                      <p><a href="http://www.quora.com/Anurag-Kumar-1" target="_blank"> #Quora </a><p>
                        <p><a href="http://about.me/exploretheweb" target="_blank"> #About.me</a><p>
                          <p><a href="https://twitter.com/" target="_blank">#Twitter</a><p>
                          <p><a href="" target="_blank">  </a><p>
                            <p><a href="" target="_blank">  </a><p>
                              <p><a href="" target="_blank">  </a><p>    

      </div> <!-- container ends -->

    </body>

</html>