<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anurag, web developer from Kolkata">
    <meta name="author" content="Anurag Kumar">

    <title>Anurag | web developer</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="static/css/landing-page.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#header">home</a>
                <a class="navbar-brand" href="#about">about</a>
                <a class="navbar-brand" href="#contact">contact</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                   
                </ul>
            </div-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">
            <section id="header">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Anurag</h1>
                        <hr class="intro-divider"></hr>
                        <h3>web developer and amateur writer</h3>
                        
                    </div>
                </div>
            </div> </section>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">
            <section id="about">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Stuffs I do: </h2>

                    <p class="lead"><b>Web Development</b>: you can see my projects on <a target="_blank" href="http://www.github.com/anurag619">Github</a>
                    <p class="lead"><b>Writings</b>: Read my articles on <a href="http://yourstory.com/author/anurag-kumar/" target="_blank">Yourstory</a> <br></br>

                    <h2 class="section-heading">my story</h2>

                    <p class="lead"> I have an insatiable interest for online technology and was obsessed with digital publishing in my early days. The same obsession taught me how things work on internet. It was around the time when I picked up blogging. I had this nagging desire to create things in life and writing fulfilled my wishes to some extent. Later on I also worked for few startups as a writer which was a moral booter. Few of my works(poems and stories) were appreciated and published in magazine but thats a thing of the <a herf="http://www.anurag3rdsep.blogspot.in" target="_blank">past</a></p>
                    <p class="lead">Fast forward to present: articles have been replaced by python (html,css and JS) files, words have been replaced by codes. But the desire to create things on internet still exits, which ultimatly drives me forward.</p>
                    
                    <p class="lead">Cheers and Thanks for stoping by</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div> </section>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!--div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">heading
                        <br></h2>
                    <p class="lead">some more describtion..... </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
            <section id="contact">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">I practically live on internet, stalk away :)
                        <br></h2>
                    <p class="lead"><div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a target="_blank" href="https://twitter.com/ak_8085" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a target="_blank" href="https://facebook.com/exploretheweb" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li><a target="_blank" href="http://www.linkedin.com/in/ak8085" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li><a target="_blank" href="http://www.quora.com/Anurag-Kumar-1" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Quora</span></a> </li>
                    </ul>
                </div></p>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <footer>
       
    </footer>

    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <script>

    $(document).ready(function()
     {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

    </script>

</body>

</html>
